# Supabase Configuration
# Replace these values in your local .env file
EXPO_PUBLIC_SUPABASE_URL=https://olswwdunaivwxefelasc.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_kv8JR0wYeT_GsLXRCfla-g_LubiPMns
